@use "global" as *;

.p-header {
  background-color: $black;
  color: $white;
}

.p-header__inner {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  @include mq(md) {
    padding-left: $padding-pc;
    padding-right: $padding-pc;
  }
}

.p-header__logo {
  width: 100%;
  max-width: rem(74);
  position: relative;
  z-index: 9999;
  @include mq(md) {
    max-width: rem(94);
  }
}

.p-header__hamburger {
  position: absolute;
  top: rem(17);
  right: rem(17);
  z-index: 5;
  // ハンバーガー線の幅高さ共に10px多く
  width: rem(36);
  height: rem(16);
  @include mq(md) {
    display: none;
  }
}

.p-header__sp-nav {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}
