@use "global" as *;

.p-pc-nav {
  display: none;
  @include mq(md) {
    display: block;
    min-height: inherit;
  }
}

.p-pc-nav__items {
  display: flex;
  align-items: center;
  min-height: inherit;
}

.p-pc-nav__item {
  min-height: inherit;
}

.p-pc-nav__item a {
  min-height: inherit;
  display: flex;
  align-items: center;
  padding: 0 rem(15);
}
