@use "global" as *;

.p-sp-nav {
  background-color: #000;
  // 横から出てくる場合
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  overflow: hidden;
  @include mq(md) {
    display: none;
  }
}

.p-sp-nav__items {
  // .p-sp-nav__item aのpadding引く
  padding: rem(143) 0 rem(208);
  //   marginでheaderに刺さらないようにする、headerの高さ
  margin-top: rem(50);
  height: 100vh;
  overflow: auto;
}

.p-sp-nav__item a {
  padding-top: rem(16);
  padding-bottom: rem(16);
  text-align: center;
  color: $white;
  font-size: rem(16);
}

body.is-open {
  overflow: hidden;
  .p-sp-nav {
    transform: translateX(0px);
  }
}