@use "global" as *;

/* 非表示設定 */
//モバイルのみ表示
.u-sp {
  display: block;
  @include mq("md") {
    display: none;
  }
}

//768px以上を表示
.u-pc {
  display: none;
  @include mq("md") {
    display: block;
  }
}